{
  "trailingComma": "es5",
  "tabWidth": 4,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketLine": true,
  "indent": "tab",
  "extraSemi": false,
  "arrowParens": "avoid",
  "noMixedSpacesAndTabs": true
}